*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
   
}
input{
    display: none;
   }
   .container{
       overflow: hidden;
       width: 100%;
       text-align: center;
       
   }
   h2{
       font-weight: normal;
       font-size: 40px;
       position: relative; 
       margin: 40px 0;
   }
   h2::before{
       content: '';
       position: absolute;
       width: 100px;
       height: 3px;
       background-color: darkslateblue;
       bottom: -10px;
       left: 43%;
       transition: translateX(-50%);
       animation: animate 4s linear infinite;
   }
   @keyframes animate{
       0%{
           width: 100px;
       }
       50%{
           width: 200px;
       }
       100%{
           width: 100px;
       }
   }
   .top-content{
       background-color:aliceblue;
       width: 90%;
       margin: 0 auto 20px auto;
       height: 60px;
       display: flex;
       text-align: center;
       border-radius: 8px;
       box-shadow: 3px 3px 5px rgb(194, 215, 253);
   }
   h3{
       height: 100%;
       background-color: azure(221,221,221);
       line-height: 60px;
       padding: 0 50px;
       color: rgb(101, 125, 206);
   }
   label{
       display: inline-block;
       height: 100%;
       margin: 0 20px;
       line-height: 60px;
       font-size: 18px;
       color: gray;
       cursor: pointer;
       transition: 0.5s;
   }
   label:hover{
       color: black;
   }
   .photo-gallery{
       width: 90%;
       margin: auto;
       display: grid;
       grid-template-columns: repeat(4,1fr);
       grid-gap: 20px;
   }

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(191, 201, 204);
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "Wallcluster Gallery";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition-delay: 0.2s ;
    z-index: 1;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgb(0, 0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;

}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;

}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check2:checked ~ .container .photo-gallery .land{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .container .photo-gallery .anime,
#check2:checked ~ .container .photo-gallery .gaming,
#check2:checked ~ .container .photo-gallery .windows,
#check2:checked ~ .container .photo-gallery .amoled{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    transition: 0s;
}
#check3:checked ~ .container .photo-gallery .anime{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check3:checked ~ .container .photo-gallery .land,
#check3:checked ~ .container .photo-gallery .gaming,
#check3:checked ~ .container .photo-gallery .windows,
#check3:checked ~ .container .photo-gallery .amoled{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    transition: 0s;
}
#check4:checked ~ .container .photo-gallery .gaming{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check4:checked ~ .container .photo-gallery .land,
#check4:checked ~ .container .photo-gallery .anime,
#check4:checked ~ .container .photo-gallery .windows,
#check4:checked ~ .container .photo-gallery .amoled{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    transition: 0s;
}
#check5:checked ~ .container .photo-gallery .windows{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check5:checked ~ .container .photo-gallery .land,
#check5:checked ~ .container .photo-gallery .anime,
#check5:checked ~ .container .photo-gallery .gaming,
#check5:checked ~ .container .photo-gallery .amoled{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    transition: 0s;
}
#check6:checked ~ .container .photo-gallery .amoled{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check6:checked ~ .container .photo-gallery .land,
#check6:checked ~ .container .photo-gallery .anime,
#check6:checked ~ .container .photo-gallery .gaming,
#check6:checked ~ .container .photo-gallery .windows{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    transition: 0s;
}
footer {
    width: 90%;
    align-items: center;
    text-align: center;
    padding: 80px 0;
    background: #dbe2f5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    box-shadow: 3px 3px 5px rgb(209, 212, 219);
    border-radius: 10px;
}
footer p{
    color: #3b79cb;
    padding-top: 10px;
}
.nav-item {
    margin: 10px;
    
    border-radius: 25px;
}
footer ul{
    display: flex;
    padding-left: 40%;
}
footer ul li{
    
    list-style-type:none;
}
